body {
  font-family: Georgia, serif;
  background: linear-gradiaent(to bottom, #0b3d2e, #145a32, #1d8348);
  color: white;
  text-align: center;
  margin: 40px;
  min-height: 100vh;
}

#game { 
  background: rgba(20, 20,20,0.75);
  padding: 25px;
  border-radius: 20px;
  max-width: 650px;
  margin: auto;
  border: 2px solid gold;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4)
}

button {
  margin: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background: #4CAF50;
  transition: o.3s;
}

button:hover {
  background: gold;
  color: black;
}
