body {
  font-family: Arial, sans-serif;
  background: #2f4f4f;
  color: white;
  text-align: center;
  margin: 40px;
}

#game { 
  background: #444;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
}

button {
  margin: 8px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px
}

button:hover {
  background: gold;
}
